*{
    padding:0px;
    margin:0px;
}
h2{
	text-align: center;
}
.row1{
	width: 100%;
}
.khungrow{
	width: 60%;
	margin: 50px auto;
	min-height: 300px
}
.form-group {
    width: 50%;
    margin: 20px auto;
}
.form-group1 {
    width: 50%;
    margin: 0px auto;
}
.form-group1 a {
	float: right;
}
.btn-login {
    width: 50%;
}
