*{
	padding: 0px;
	margin: 0px;
}
h2{
	text-align: center;
}
.row1 {
	width: 100%;
	height: auto;
}
.khungrow {
	width: 80%;
	margin: 50px auto;
	height: auto;
}
.form-group1 {
    width: 50%;
    margin: 10px auto;
    min-height: 50px;
}
.row-left {
    width: 30%;
    float: left;
}
.row-right {
    width: 70%;
    float: left;
}
.btn-avt{
	width: 100%;
}
.btn-regis {
    width: 50%;
    margin: 0 154px;
}